<h1>Welcome to Super Rentals</h1>

<p>We hope you find exactly what you're looking for in a place to stay.</p>

<div class="container">
  <div class="row">
    {{#each model as |rentalUnit|}}
      <div class="col-md-4">{{rental-listing rental=rentalUnit}}</div>
    {{/each}}
  </div>
</div>

{{outlet}}
